# cuda supported torch to be installed manually via --index-url https://download.pytorch.org/whl/cu126
einops
faiss-cpu
langchain
langchain_community
langchain_huggingface
sentence_transformers
bs4
rich
#tiktoken needed in order to for TokenTextSplitter
tiktoken 
--index-url https://download.pytorch.org/whl/cu126
torch




